body {
    padding: 10px;
    margin: auto;
    display:block;
    width:825px;
    
}
header, .link{
    background-color:blue;
    color: white;
    font-family:sans-serif;
    }
#support {
    background-color:rgb(238,233,233);
    display: block;    
}
table{
    border-collapse: separate;
    border-spacing: 2px;
}

p {
    font-size: 14px;
}