#hero {
    background: url(../img2/sub_header_home.jpg);
    background-repeat: no-repeat;
    height: 10em;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    padding-top: 150px;
    color: white;
    height: 500px;
}

#hero h1 {
    font-size: 60px;
    font-weight: 100;
}

#hero p {
    font-size: 15px;
}

#pictures div {
    margin-top: 20px;
    width: 170px;
    margin-top: inherit;
    float: left;
    margin-left: 70px;
    padding-left: 45px;
}

.clear-fix:after {
    display: block;
    content: '';
    clear: both;
}

#pictures img {
    padding-left: 37px;
}

@media (min-width: 768px) and (max-width: 991px){ 
    section div {
       width: 50%; 
    }
}
    
@media (max-width: 767px){
 section div { width: 100%;  
    }
}