html {
    background-color: #AEEEEE;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

header {
    margin-bottom: 10px;
}

header h1 {
    font-family: monospace;
    font-size: 45px;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-family: sans-serif;
    color: black;
}

#home {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url('https://s-media-cache-ak0.pinimg.com/236x/ac/89/66/ac89663ce0f1d203b330f68f9aed43ef.jpg') no-repeat center;
    margin-top: 20px;
    background-size: cover;
    height: 500px;
}

#center {
    height: 10em;
    position: relative;
    text-align: center;
    color: mintcream;
    font-family: monospace;
    padding-top: 150px;
}

#center h1 {
    font-size: 45px;
}

#center h4 {
    padding-bottom: 10px;
}

#center a {
    border: 2px solid #96CDCD;
    padding: 10px;
    text-decoration: none;
    color: mintcream;
    font-family: sans-serif;
}

#about {
    width: 1130px;
}

#bio h3 {
    font-family: monospace;
    font-size: 35px;
    text-align: center;
}

#bio p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 150%;
}
img {
    width: 400px;
    height: 400px;
    padding-left: 30px;
    padding-top: 30px;
    float: left;
    margin-right: 110px;
    padding-bottom: 10px;
}
#music {
    width: 1260px;
    margin-top: 80px;
}
#music div {
    margin-top: 20px;
    width: 300px;
    margin-top: inherit;
    float: left;
    margin-right: 15px;

    
}
.clear-fix:after {
    display: block;
    content: '';
    clear: both;
}
#music img {
    width:200px;
    height: 200px;
    margin-left: 20px;
    }
#music h4 {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}
#music p {
    text-align: center;
    font-family: sans-serif;
    }
.clear-fix:after {
    display: block;
    content: '';
    clear: both;
}
#hotel-vegas {
    float: left;
}
#whole-wall {
    float: left;
    
}
#video {
    width: 1400px;
    text-align: center;
}
#video img {
    width: 450px;
    height: 250px;
    margin-left: 40px;
}
#video p {
    font-size: 15px;
    font-family: sans-serif;
    width: 400px;
    margin-left: 75px;
    padding: 20px;
    }
#tour {
    background: url(http://genuineleathermusic.com/wp-content/uploads/2016/02/Jeff-Jazz-Background.jpg);
    background-size: 1200px 600px;
    background-repeat: no-repeat;
    margin-left: 15px;
    padding: 15% 0;
    margin-top: 30px;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
#tour p {
    padding: 6% 8%;
    color: white;
    font-size: 25px;
    
}
#one {
    float: left;
    display: block;
    margin-left: 315px;
    border: 3px solid white; 
    margin-top: 40px;
    
}
#two {
    float: right;
    display: block;
    margin-right: 300px;
    border: 3px solid white;
}