.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}


header{
    background-color: mintcream;
    margin-bottom: 10px;
}

header h1 {
    font-family: monospace;
    font-size: 45px;
    }
nav {
    float: right;
    background-color: mintcream;
}
nav a {
    text-decoration: none;
    padding: 20px;
    font-family:sans-serif;
    color: black;
}
#home {
    background:
        linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%),
 url('https://s-media-cache-ak0.pinimg.com/236x/ac/89/66/ac89663ce0f1d203b330f68f9aed43ef.jpg') no-repeat center;
    margin-top: 20px;
    background-size:cover;
    height: 500px;
}
#center {
    height: 10em;
    position: relative;
    text-align: center;
    color: mintcream;
    font-family: monospace;
    padding-top: 150px;
}
#center h1 {
    font-size: 45px;
} 
#center h4{
    padding-bottom: 10px ;
}
#center a {
    border: 2px solid #96CDCD;
    padding: 10px;
    text-decoration: none;
    color: mintcream;
    font-family: sans-serif;
}