#hero {
    background: url(../img/sub_header_home.jpg);
    background-repeat: no-repeat;
    height: 10em;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    padding-top: 150px;
    color: white;
    height: 500px;
}

#hero h1 {
    font-size: 60px;
    font-weight: 100;
}

#hero p {
    font-size: 15px;
}



.col-md-3 col-sm-6 {
    margin-top: 60px;
    text-align: center;
    width: 80%;

}

#pictures img {
    padding-left: 90px;
    margin-top: 40px;
}
@media max-width(768px)
{
    #pictures div {
        padding: inherit;
    }

}
