* {
    b
}

body {
    font-family: sans-serif;
    width: 1366px;
    margin: auto;
    padding: 20px;
    height: 930px;
    color: #737373;
    font-weight: 300;
}
.main {
    margin-bottom: 5px;
    padding-bottom: 100px;
    height: 515px;

}

.title {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.left {
    width: 638px;
    padding: 20px;
    float: left;
    background-color: #f2f2f2;
    height: 512px;
}

#keyboard {
    width: 100%;
}
a {
    color: #94bc54;
}
aside img {
    width: 35%;
    padding: 17px;
    float: left;
    margin-bottom: 60px;
}
aside {
    float: right;
    
}
.one {
    height: 164px;
    width: 638px;
    background-color: #f2f2f2;
    float: right;
    margin-bottom: 30px;
    display: block;
}
.two {
    height:164px;
    width: 638px;
    float: right;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    display: block;
}
.three {
    height: 164px;
    float: right;
    width: 638px;
    background-color: #f2f2f2;
    display: block;
}
.footer {
    clear: both;
    display: block;
    overflow: auto;
    border-top: 3px solid #f2f2f2 ;
    border-bottom: 3px solid #f2f2f2;
    margin-top: 50;
    }
#profession {
    float: left;
    margin-left: 52px;
    width: 380px;
    border-right: 3px solid #f2f2f2;
    margin-top: 20px;
}
#middle {
    float: left;
    margin-left: 52px;
    width:380px;
    border-right: 3px solid #f2f2f2;
    margin-top: 10px;
    }
#pricing {
    float: right;
    width: 380px;
    padding-right: 80px;
    margin-top: 5px;
}
.clear-fix:after: {
    display: block;
    content: '';
    clear: both;
}